<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="css/jpetstore.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script src="/js/searchProduct.js"></script>
    <script th:inline="javascript">
        //弹出添加成功窗口
        var msg =[[${msg}]];
        if(msg != null)
            alert(msg);
        //  alert(msg);
    </script>
</head>
<body>
<script type="text/javascript">
    window.onblur=function(){
        document.title="你快回来( •̀д•́)っ";
    };
    window.onfocus=function () {
        document.title="MyPetStore";
    }
</script>
    <header th:fragment="header">
        <div id="Header">

            <div id="Logo">
                <div id="LogoContent">
                    <a href="/catalog/viewMain">
                        <img src="../images/logo-topbar.gif"/>
                    </a>
                </div>
            </div>

            <div id="Menu">
                <div id="MenuContent">
                    <span th:if="${account} != null">
                        <a href="/cart/viewCart">
                            <img align="middle" name="img_cart" src="../images/cart.gif"/>
                        </a>
                        <img align="middle" src="../images/separator.gif"/>
                        <a href="/account/signOut">Sign Out</a>
                        <img align="middle" src="../images/separator.gif"/>
                        <a href="/account/viewEditAccountForm">My Account</a>
                    </span>
                    <span th:if="${account} == null">
                        <a href="/account/viewSignIn">Sign In</a>
                    </span>

                    <img align="middle" src="../images/separator.gif"/>
                    <a href="help.html">?</a>
                </div>
            </div>

            <div id="Search">
                <div id="SearchContent">
                    <form action="/catalog/viewSearchProducts" method="post">
                        <input type="text" name="keyword" size="14"/>
                        <input type="submit" name="searchProducts" value="Search"/>
                    </form>
                </div>
            </div>

            <div id="QuickLinks">
                <a href="/catalog/viewCategory?categoryId=FISH">
                    <img src="../images/sm_fish.gif"/>
                </a>

                <img src="../images/separator.gif"/>

                <a href="/catalog/viewCategory?categoryId=DOGS">
                    <img src="../images/sm_dogs.gif"/>
                </a>

                <img src="../images/separator.gif"/>

                <a href="/catalog/viewCategory?categoryId=REPTILES">
                    <img src="../images/sm_reptiles.gif"/>
                </a>

                <img src="../images/separator.gif"/>
                <a href="/catalog/viewCategory?categoryId=CATS">
                    <img src="../images/sm_cats.gif"/>
                </a>

                <img src="../images/separator.gif"/>
                <a href="/catalog/viewCategory?categoryId=BIRDS">
                    <img src="../images/sm_birds.gif"/>
                </a>


            </div>

        </div>
    </header>
</body>
</html>