<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    Please confirm the information below and then press continue...

    <table>
        <tr>
            <th align="center" colspan="2">
                <h4 size="4"><b>Order</b></h4>
                <br />
                <h4 size="3" th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></h4>
            </th>
        </tr>

        <tr>
            <th colspan="2">Billing Address</th>
        </tr>
        <tr>
            <td>First name:</td>
            <td th:text="${order.billToFirstName}" ></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${order.billToLastName}" ></td>
        </tr>
        <tr>
            <td>Address 1:</td>
            <td th:text="${order.billAddress1}" ></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td th:text="${order.billAddress2}" ></td>
        </tr>
        <tr>
            <td>City:</td>
            <td th:text="${order.billCity}" ></td>
        </tr>
        <tr>
            <td>State:</td>
            <td th:text="${order.billState}" ></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td th:text="${order.billZip}" ></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td th:text="${order.billCountry}" ></td>
        </tr>
        <tr>
            <th colspan="2">Shipping Address</th>
        </tr>
        <tr>
            <td>First name:</td>
            <td th:text="${order.shipToFirstName}" ></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${order.shipToLastName}" ></td>
        </tr>
        <tr>
            <td>Address 1:</td>
            <td th:text="${order.shipAddress1}" ></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td th:text="${order.shipAddress2}" ></td>
        </tr>
        <tr>
            <td>City:</td>
            <td th:text="${order.shipCity}" ></td>
        </tr>
        <tr>
            <td>State:</td>
            <td th:text="${order.shipState}" ></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td th:text="${order.shipZip}" ></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td th:text="${order.shipCountry}" ></td>
        </tr>

    </table>


    <SCRIPT LANGUAGE="JavaScript">
        function reP(){
            document.getElementById('pay').style.display = "block";
        }
    </SCRIPT>
    <img src='../images/pay.jpg' id="pay" style='display:none;position:absolute; top:250px;left:700px;' width="240px" hight="350px">

    <a th:href="/order/viewOrder" class="Button" onclick="reP()">Confirm</a>


</div>

<footer th:replace="common/bottom"></footer>
</body>
</html>