<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<header th:replace="/common/top"></header>
<div id="Content">
    Please confirm the information below and then press continue...

    <table>
        <tr>
            <th colspan="2">
                Order
            </th>
        </tr>

        <tr>
            <th colspan="2" th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></th>
        </tr>

        <tr>
            <th colspan="2">Billing Address</th>
        </tr>
        <tr>
            <td>First name:</td>
            <td th:text="${order.billToFirstName}" ></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${order.billToLastName}" ></td>
        </tr>
        <tr>
            <td>Address 1:</td>
            <td th:text="${order.billAddress1}" ></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td th:text="${order.billAddress2}" ></td>
        </tr>
        <tr>
            <td>City:</td>
            <td th:text="${order.billCity}" ></td>
        </tr>
        <tr>
            <td>State:</td>
            <td th:text="${order.billState}" ></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td th:text="${order.billZip}" ></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td th:text="${order.billCountry}" ></td>
        </tr>
        <tr>
            <th colspan="2">Shipping Address</th>
        </tr>
        <tr>
            <td>First name:</td>
            <td th:text="${order.shipToFirstName}" ></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${order.shipToLastName}" ></td>
        </tr>
        <tr>
            <td>Address 1:</td>
            <td th:text="${order.shipAddress1}" ></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td th:text="${order.shipAddress2}" ></td>
        </tr>
        <tr>
            <td>City:</td>
            <td th:text="${order.shipCity}" ></td>
        </tr>
        <tr>
            <td>State:</td>
            <td th:text="${order.shipState}" ></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td th:text="${order.shipZip}" ></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td th:text="${order.shipCountry}" ></td>
        </tr>
        <tr>
            <td>Courier:</td>
            <td th:text="${order.courier}" ></td>
        </tr>
        <tr>
            <td>Status:</td>> <td th:text="${order.status}" ></td>
        </tr>
        <tr>
            <th colspan="2" >LineItem List</th>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <th>Item ID</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr th:each="lineItem:${order.lineItems}">
                        <td>
                            <a th:href="'/catalog/viewItem?itemId='+${lineItem.itemId}" th:text="${lineItem.itemId}">
                                ${lineItem.item.itemId}
                            </a></td>
                        <td th:if="${lineItem.item} != null">
                            <span th:text="${lineItem.item.attribute1}" ></span>
                            <span th:text="${lineItem.item.attribute2}" ></span>
                            <span th:text="${lineItem.item.attribute3}" ></span>
                            <span th:text="${lineItem.item.attribute4}" ></span>
                            <span th:text="${lineItem.item.attribute5}" ></span>

                        </td>

                        <td th:text="${lineItem.quantity}">${lineItem.quantity}</td>

                        <td th:text="'$'+${#numbers.formatDecimal(lineItem.unitPrice,1,2)}">

                        <td th:text="'$'+${#numbers.formatDecimal(lineItem.total,1,2)}">
                    </tr>

                    <tr>
                        <th colspan="5" th:text="' Total:$'+${#numbers.formatDecimal(order.totalPrice,1,2)}">
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    <SCRIPT LANGUAGE="JavaScript">
        function reP(){
            document.getElementById('pay').style.display = "block";
        }
    </SCRIPT>
    <img src='/images/pay.jpg' id="pay" style='display:none;position:absolute; top:250px;left:700px;' width="240px" hight="350px">

    <a href="/order/viewOrder" class="Button" onclick="reP()">Confirm</a>


</div>

<footer th:replace="common/bottom"></footer>
</body>
</html>