<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <h2>My Orders</h2>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Price</th>
        </tr>

        <tr th:each="order:${orderList}">
            <td>
                <a th:href="'/catalog/viewItem?orderId='+${order.orderId}">${order.orderId}</a>
            </td>

            <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}">

            <td th:text="'$'+${#numbers.formatDecimal(order.totalPrice,1,2)}">

        </tr>
    </table>
</div>

<footer th:replace="common/bottom"></footer>
</body>
</html>