<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>

</head>
<body>
<header th:replace="common/top"></header>
<script type="text/javascript" th:inline="javascript">

    var msg =[[${msg}]];
    if(msg != null)
        alert(msg);

</script>
<label  th:text="${msg}" >aaa</label>
<div id="Content">
    <div id="BackLink">
        <a th:href="'/catalog/viewProduct?productId='+${item.productId}">
            Return to <label th:text="${item.productId}">Product ID</label>
        </a>
    </div>


    <div id="Catalog">
        <table>
            <tr>
                <td>
                    <label><img th:src="${product.image}"></label>
                    <label th:text="${product.text}"></label>
                </td>
            </tr>
            <tr>
                <td><b th:text="${item.itemId}">Item ID </b></td>
            </tr>
            <tr>
                <td><b><font size="4" th:text="${item.attribute1}"> Item Attributes </font></b></td>
            </tr>
            <tr>
                <td th:text="${product.name}">Product Name</td>
            </tr>
            <tr>
                <td>
                    <label th:if="${itemQuantity <= 0}">Back ordered.</label>
                    <label th:if="${itemQuantity > 0}" th:text="${itemQuantity}+'in stock.'">Quantity in stock.</label>
                </td>
            </tr>
            <tr>
                <td th:text="'$'+${#numbers.formatDecimal(item.unitCost,1,2)}">Item List Price</td>
            </tr>
            <tr th:if="${#strings.equals(item.status,'P')}">
                <td><a th:href="'/cart/addItem?itemId='+${item.itemId}" >Add to Cart</a></td>
            </tr>
        </table>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>