<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="BackLink">
        <a href="/catalog/main">Return to Main Menu</a>
    </div>

    <div id="Catalog">

        <table>
            <tr>
                <th>&nbsp;</th>
                <th>Product ID</th>
                <th>Name</th>
            </tr>

            <tr th:each="product:${productList}">
                <td>
                    <label><img th:src="${product.image}"></label>
                    <label th:text="${product.text}"></label>
                </td>
                <td>
                    <b>
                        <a th:href="'/catalog/viewProduct?productId='+${product.productId}" >
                            <font color="BLACK" th:text="${product.productId}">Product ID</font>
                        </a>
                    </b>
                </td>
                <td th:text="${product.name}">
                    Product Name
                </td>
            </tr>

        </table>
    </div>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>