<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">
</div>
<div id="BackLink">
    <a href="/cart/viewCart">Return to Shopping Cart</a>
</div>

<div id="Catalog">

    <table>
        <tr>
            <td>
                <h2>Checkout Summary</h2>

                <table>

                    <tr>
                        <td><b>Item ID</b></td>
                        <td><b>Product ID</b></td>
                        <td><b>Description</b></td>
                        <td><b>In Stock?</b></td>
                        <td><b>Quantity</b></td>
                        <td><b>List Price</b></td>
                        <td><b>Total Cost</b></td>
                    </tr>
                    <tr th:each="cartItem:${cartShow.cartItemShowList}">
                        <td>
                            <a th:href="'/catalog/viewItem?itemId='+${cartItem.item.itemId}">
                                ${cartItem.item.itemId}
                            </a>
                        </td>
                        <td th:text="${cartItem.item.product.productId}">
                            ${cartItem.item.product.productId}
                        </td>
                        <td th:text="${cartItem.item.attribute1}+${cartItem.item.product.name}">
                            ${cartItem.item.attribute1} ${cartItem.item.product.name}
                        </td>
                        <td th:text="${cartItem.inStock}">
                            ${cartItem.inStock}
                        </td>
                        <td th:text="${cartItem.quantity}">
                            ${cartItem.quantity}
                        </td>
                        <td th:text="${cartItem.item.product.productId}">
                            <fmt:formatNumber value="${cartItem.item.listPrice}" pattern="$#,##0.00" />
                        </td>
                        <td>
                            <fmt:formatNumber value="${cartItem.totalCost}" pattern="$#,##0.00" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="7">Sub Total:
                            <fmt:formatNumber value="${sessionScope.cartShow.subTotal}" pattern="$#,##0.00" />
                        </td>
                    </tr>
                </table>

        </tr>
    </table>

<footer th:replace="common/bottom"></footer>
</body>
</html>