<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<div th:replace="common/top">
</div>
<div id="Content">

<div id="BackLink">
    <a href="/cart/viewCart">Return to Shopping Cart</a>
</div>

<div id="Catalog">


            <form action="/order/viewNewOrderForm" method="get" style="align-self: center;align-content: center;align-items: center" >
                <table>
                    <tr>
                        <th colspan="7">Checkout Summary</th>
                    </tr>

                    <tr>
                        <th>Item ID</th>
                        <th>Product ID</th>
                        <th>Description</th>
                        <th>In Stock?</th>
                        <th>Quantity</th>
                        <th>List Price</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr th:each="cartItem:${cartItemList}">
                        <td>
                            <a th:href="'/catalog/viewItem?itemId='+${cartItem.itemId}" th:text="${cartItem.itemId}">
                                ${cartItem.item.itemId}
                            </a>
                        </td>
                        <td th:text="${cartItem.item.productId}">
                            ${cartItem.item.product.productId}
                        </td>
                        <td th:text="${cartItem.item.attribute1}">
                            ${cartItem.item.attribute1} ${cartItem.item.product.name}
                        </td>
                        <td th:text="${#strings.equals(cartItem.item.status,'P')}?'TRUE':'FALSE'">
                            ${cartItem.inStock}
                        </td>
                        <td th:text="${cartItem.quantity}">
                            ${cartItem.quantity}
                        </td>
                        <td th:text="'$'+${cartItem.item.unitCost}">

                        </td>
                        <td th:text="'$'+${cartItem.quantity*cartItem.item.unitCost}">

                        </td>
                    </tr>

                    <tr >

                         <td   colspan="7" th:text="'SubTotal: $'+${subTotal}">
                        </td>
                    </tr>

                <tr>
                    <td colspan="7">
                         <input type="submit" value="confirm"/>
                    </td>
                </tr>
                </table>
            </form>

    </div>
</div>
<footer th:replace="common/bottom"></footer>

</body>
</html>