* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}
p {
    font-size: 13px;
    line-height: 10px;
    background: url("/images/cat1.gif") no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-weight: 900;
    margin: 0;
}

.parent {
    width: 681px;
    height: 384px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    overflow: hidden;
    position: absolute;
    -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}

svg {
    position: absolute;
    z-index: 1;
    width: 681px;
    height: 384px;
}

button {
    position: absolute;
    z-index: 50;
    width: 40px;
    overflow: hidden;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
button:focus {
    outline-width: 0;
}

circle {
    stroke: #fff;
    fill: none;
    transition: 0.3s;
}

#svg1 circle {
    transition-timing-function: linear;
}

#svg2 circle {
    transition-timing-function: linear;
}

#Capa_1 {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(-7px, -8px);
}

#Capa_2 {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(-9px, -8px);
}

.right {
    margin-left: 628px;
    margin-top: 168px;
    border: 1px solid #849494;
    background-color: transparent;
    transition: .5s;
}
.right:hover {
    background-color: #fff;
}

.left {
    margin-left: 0.5%;
    margin-top: 6.17%;
    border: 1px solid #849494;
    background-color: transparent;
    transition: .5s;
}
.left:hover {
    background-color: #fff;
}

.circle1 {
    transition-delay: 0.05s;
}

.circle2 {
    transition-delay: 0.1s;
}

.circle3 {
    transition-delay: 0.15s;
}

.circle4 {
    transition-delay: 0.2s;
}

.circle5 {
    transition-delay: 0.25s;
}

.circle6 {
    transition-delay: 0.3s;
}

.circle7 {
    transition-delay: 0.35s;
}

.circle8 {
    transition-delay: 0.4s;
}

.circle9 {
    transition-delay: 0.45s;
}

.circle10 {
    transition-delay: 0.05s;
}

.circle11 {
    transition-delay: 0.1s;
}

.circle12 {
    transition-delay: 0.15s;
}

.circle13 {
    transition-delay: 0.2s;
}

.circle14 {
    transition-delay: 0.25s;
}

.circle15 {
    transition-delay: 0.3s;
}

.circle16 {
    transition-delay: 0.35s;
}

.circle17 {
    transition-delay: 0.4s;
}

.circle18 {
    transition-delay: 0.45s;
}

.slide1 {
    background-image: url("/images/01.jpg");
}

.slide2 {
    background-image: url("/images/02.jpg");
}

.slide3 {
    background-image: url("/images/03.jpg");
}

.slide4 {
    background-image: url("/images/04.jpg");
}

.slider {
    position: absolute;
    width: 400%;
    height: 100%;
    background: #000;
    display: inline-flex;
    overflow: hidden;
}

.slide1,
.slide2,
.slide3,
.slide4 {
    position: absolute;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 62px;
    padding-top: 138px;
    font-weight: 800;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    width: 25%;
    height: 100%;
    z-index: 10;
    transition: 1.4s;
}

.tran {
    transform: scale(1.3);
}

.up1 {
    z-index: 20;
}

.up2 {
    z-index: 40;
}

.steap {
    stroke-width: 0;
}

.streak {
    stroke-width: 82px;
}

@media (max-width: 700px) {
    .parent {
        margin-left: 1%;
    }
}