<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <form action="editAccountForm" method="post">
        <h3>User Information</h3>

        <table>
            <tr>
                <td>User ID:</td>
                <td th:text="${account.username} ">${account.username} </td>
            </tr>
            <tr>
                <td>New password:</td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td>
                    <input type="text" name="repeatedPassword">
                </td>
            </tr>

            <tr th:if="${message != null}">
                <td colspan="2" th:text="${message}">
                    <h4 color="red">${message}</h4>>
                </td>
            </tr>

        </table>

        <h3>Account Information</h3>

        <table>
            <tr>
                <td>First name:</td>
                <td>
                    <input type="text" th:name="firstName" th:value="${account.firstName}">

                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>
                    <input type="text" th:name="lastName" th:value="${account.lastName}"/>

                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" th:name="email" th:value="${account.email}"/>

                </td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>
                    <input type="text" th:name="phone" th:value="${account.phone}"/>

                </td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td>
                    <input type="text" th:name="address1" th:value="${account.address1}"/>

                </td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td>
                    <input type="text" th:name="address2" th:value="${account.address2}"/>

                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <input type="text" th:name="city" th:value="${account.city}"/>

                </td>
            </tr>
            <tr>
                <td>State:</td>
                <td>
                    <input type="text" th:name="state" th:value="${account.state}"/>

                </td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td>
                    <input type="text" th:name="zip" th:value="${account.zip}"/>

                </td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>
                    <input type="text" th:name="country" th:value="${account.country}"/>
                </td>
            </tr>
        </table>

        <h3>Profile Information</h3>

        <table>
            <tr>
                <td>Language Preference:</td>
                <td>
                    <select name="languagePreference">
                        <option value="Chinese">Chinese</option>
                        <option value="English" selected = "selected">English</option>
                        <option value="Japanese">Japanese</option>
                    </select></td>
            </tr>
            <tr>
                <td>Favourite Category:</td>
                <td><select name="favouriteCategoryId">
                    <option value="FISH">FISH</option>
                    <option selected="selected" value="DOGS">DOGS</option>
                    <option value="REPTILES">REPTILES</option>
                    <option value="CATS">CATS</option>
                    <option value="BIRDS">BIRDS</option>
                </select></td>
            </tr>

            <tr>
                <td>Enable MyList</td>
                <td><input type="checkbox" th:name="listOption" checked /></td>
            </tr>
            <tr>
                <td>Enable MyBanner</td>
                <td><input type="checkbox" th:name="account.bannerOption" checked/></td>
            </tr>

        </table>

        <input type="submit" th:name="editAccount" th:value="Save Account Information">

    </form>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>