<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen" />
</head>
<body>
<header th:replace="common/top"></header>
<div id="Content">
    <form action="newAccountForm" method="post">
        <h3>User Information</h3>

        <table>
            <tr>
                <td>User ID:</td>
                <td>
                    <input type="text" name="username" id="username"  onblur="usernameIsExist();"/>
                    <div id="usernameMsg"></div>
                    <script type="text/javascript" th:inline="javascript" src="${pageContext.request.contextPath}/js/register.js"></script>
                </td>
            </tr>
            <tr>
                <td> password:</td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td>
                    <input type="text" name="repeatedPassword">
                </td>
            </tr>
            <tr>
                <td colspan="2" th:if="${sessionScope.message != null}">
                        <h4 style="color:red">${sessionScope.message}</h4>
                </td>
            </tr>
        </table>

        <input type="submit" name="newAccount" value="Save Account Information">

    </form>
</div>

<footer th:replace="common/bottom"></footer>
</body>
</html>