<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.CartItemMapper">
    <select id="getCartItemList"  resultType="CartItem">
        SELECT
            CARTID,
            ITEMID,
            QUANTITY
        FROM CARTITEM
        WHERE CARTID = #{cartId}
    </select>

    <select id="getCartItem" resultType="CartItem">
        SELECT
            CARTID,
            ITEMID,
            QUANTITY
        FROM CARTITEM
        WHERE CARTID = #{cartId}
        AND   ITEMID = #{itemId}
    </select>
    <insert id="insertCartItem">
        INSERT
        INTO CARTITEM
        (CARTID, ITEMID, QUANTITY)
        VALUES
        (#{cartId}, #{itemId}, #{quantity})
    </insert>

    <delete id="deleteCartItem">
        DELETE
        FROM CARTITEM
        WHERE CARTID = #{cartId}
        AND   ITEMID = #{itemID}
    </delete>

    <delete id="deleteCartItemByCart">
        DELETE
        FROM CARTITEM
        WHERE
        CARTID = #{cartId}
    </delete>
    <update id="updateQuantity">
        UPDATE CARTITEM
        SET
            QUANTITY = #{quantity}
        WHERE CARTID = #{cartId}
         AND   ITEMiD = #{itemId}
    </update>
</mapper>