<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.ItemMapper">
    <select id="getItemListByProduct" resultType="Item">
        SELECT
            ITEMID,
            UNITCOST,
            SUPPLIER AS supplierId,
            PRODUCTID,
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM
        WHERE  PRODUCTID = #{productId}
    </select>

    <select id="getItem"  resultType="Item">
        SELECT
            ITEMID,
            UNITCOST,
            SUPPLIER AS supplierId,
            PRODUCTID,
            STATUS,
            ATTR1 AS attribute1,
            ATTR2 AS attribute2,
            ATTR3 AS attribute3,
            ATTR4 AS attribute4,
            ATTR5 AS attribute5
        FROM ITEM
        WHERE ITEMID = #{itemId}
    </select>

    <select id="getInventoryQuantity" resultType="int">
        SELECT QTY AS value
        FROM INVENTORY
        WHERE ITEMID = #{itemId}
    </select>

    <update id="updateInventoryQuantity" >
        UPDATE INVENTORY SET
            QTY = QTY - #{increment}
        WHERE ITEMID = #{itemId}
    </update>
</mapper>